# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = ed
	email = ed.clements@gmail.com
[core]
	excludesfile = /home/ed/.gitignore_global
[alias]
  trust = "!mkdir -p .git/safe"
