[submodule ".vim/pack/hedalth/start/vim-vinegar"]
	path = .vim/pack/hedalth/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule ".vim/pack/hedalth/start/vim-fugitive"]
	path = .vim/pack/hedalth/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/pack/hedalth/start/vim-bundler"]
	path = .vim/pack/hedalth/start/vim-bundler
	url = git@github.com:tpope/vim-bundler
[submodule ".vim/pack/hedalth/start/vim-commentary"]
	path = .vim/pack/hedalth/start/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule ".vim/pack/hedalth/start/vim-dispatch"]
	path = .vim/pack/hedalth/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch
[submodule ".vim/pack/hedalth/start/vim-rails"]
	path = .vim/pack/hedalth/start/vim-rails
	url = git@github.com:tpope/vim-rails
[submodule ".vim/pack/hedalth/start/vim-rspec"]
	path = .vim/pack/hedalth/start/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec
[submodule ".vim/pack/hedalth/start/syntastic"]
	path = .vim/pack/hedalth/start/syntastic
	url = git@github.com:vim-syntastic/syntastic
[submodule ".vim/pack/hedalth/start/vim-surround"]
	path = .vim/pack/hedalth/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule ".vim/pack/hedalth/start/vim-solarized"]
	path = .vim/pack/hedalth/start/vim-solarized
	url = git@github.com:ericbn/vim-solarized
[submodule ".vim/pack/hedalth/start/csound"]
	path = .vim/pack/hedalth/start/csound
	url = git@github.com:luisjure/csound
[submodule ".vim/pack/hedalth/start/vim-sensible"]
	path = .vim/pack/hedalth/start/vim-sensible
	url = git@github.com:tpope/vim-sensible
