[submodule ".vim/pack/hedalth/start/vim-vinegar"]
	path = .vim/pack/hedalth/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule ".vim/pack/hedalth/start/vim-fugitive"]
	path = .vim/pack/hedalth/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/pack/hedalth/start/vim-bundler"]
	path = .vim/pack/hedalth/start/vim-bundler
	url = git@github.com:tpope/vim-bundler
[submodule ".vim/pack/hedalth/start/vim-commentary"]
	path = .vim/pack/hedalth/start/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule ".vim/pack/hedalth/start/vim-dispatch"]
	path = .vim/pack/hedalth/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch
[submodule ".vim/pack/hedalth/start/vim-rails"]
	path = .vim/pack/hedalth/start/vim-rails
	url = git@github.com:tpope/vim-rails
[submodule ".vim/pack/hedalth/start/vim-rspec"]
	path = .vim/pack/hedalth/start/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec
[submodule ".vim/pack/hedalth/start/vim-surround"]
	path = .vim/pack/hedalth/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule ".vim/pack/hedalth/start/vim-solarized"]
	path = .vim/pack/hedalth/start/vim-solarized
	url = git@github.com:ericbn/vim-solarized
[submodule ".vim/pack/hedalth/start/vim-sensible"]
	path = .vim/pack/hedalth/start/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule ".vim/pack/hedalth/start/ale"]
	path = .vim/pack/hedalth/start/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/pack/hedalth/start/vim-flutter"]
	path = .vim/pack/plugins/opt/vim-flutter
	url = git@github.com:thosakwe/vim-flutter.git
[submodule ".vim/pack/hedalth/start/dart-vim-plugin"]
	path = .vim/pack/plugins/opt/dart-vim-plugin
	url = git@github.com:dart-lang/dart-vim-plugin.git
[submodule "/home/ed/.vim/pack/plugins/opt/vim-vue"]
	path = .vim/pack/plugins/opt/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule ".vim/pack/plugins/opt/vim-elixir"]
	path = .vim/pack/plugins/opt/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule ".vim/pack/plugins/start/plantuml-syntax"]
	path = .vim/pack/plugins/start/plantuml-syntax
	url = git@github.com:aklt/plantuml-syntax.git
[submodule ".vim/pack/plugins/start/vim-javascript"]
	path = .vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/plugins/start/typescript-vim"]
	path = .vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/plugins/start/coc"]
	path = .vim/pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule ".vim/pack/plugins/opt/coc.nvim"]
	path = .vim/pack/plugins/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/plugins/start/vim-minitest"]
	path = .vim/pack/plugins/start/vim-minitest
	url = git@github.com:edclements/vim-minitest.git
