[Desktop Entry]
Name=Simple Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;
TryExec=st
Exec=st -e tmux
Icon=utilities-terminal
Type=Application
